body {
  margin: 0;
  background-color: #eeeeef;
  font-family: Proxima Nova, -apple-system, Helvetica Neue, Helvetica, Roboto,
    Arial, sans-serif;
  font-size: 14px;
}

.flex {
  display: flex;
}
