// color variables
$base-color: #fff159;
$base-color2: #3483fa;
$base-color3: #2968c8;
$font-color-1: #323232;
$font-color-2: #666666;
$font-color-3: #cccccc;

//layout
$parent--margin: 0 20%;

$padding-medium: 10px;

$margin-medium: 10px;

$height--medium: 35px;
